<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>forpassword</title>
	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
		  crossorigin="anonymous">
</head>
<body>

<!-- create navigation bar ( header) -->
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#" th:href="@{/}">Slot Booking</a>
		</div>
	</div>
</nav>

<br>
<br>
<!-- Create HTML registration form -->
<div class = "container">
	<div class = "row">
		<div class = "col-md-6 col-md-offset-3">

			<h1> Book Your Slot</h1>

			<form th:action="@{/slots}" method="post" th:object="${Slot}">
				<div>
								<label for="sport">Choose a Sport:</label>

								<select name="sport" id="sport">
									<option value="cricket">cricket</option>
									<option value="tabletennis">table tennis</option>
									<option value="badminton">badminton</option>
									<option value="squash">squash</option>
								</select>
				</div> 	<br>
				<div>
					<label for="Slot-birth-date">Date of birth:</label>
					<input type="date" th:field="${Slot.birthDate}" id="Slot-birth-date"/>
				</div>
				<br>
				<div>
					<button type="submit" class="button">Get Slots</button>
				</div>
			</form>
		</div>
	</div>
</div>
</body>
</html>